.wrapper{
    display: flex;
    width: 100%;
}
.main{
    padding: 10px;
    width: 85vw;
}
a {
 color:'#c1c1c1';
}
a:-webkit-any-link {
    text-decoration: none;
    color:'#c1c1c1'
}
.submain16{
    background-color: #fff;
    padding: 20px;
    margin-top: 30px;
    height: 14vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.submain2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.submain2 > div{
    background-color: #fff;
    height: 32vh;
    width: 49.7%;
    text-align: center;
}
.btn-product{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #118DE6;
    color: #fff;
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: .25rem;
    width: auto;
}
.submain16 > div{
    margin-left: 50px;
    margin-right: 50px;
}
.maincontentorder{
    background-color: #fff;
    margin-top: 20px;
    border-radius: 5px;
    padding-bottom: 20px;
    height: 80vh;
}
.title{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    align-items: center;
}
.title > div {
    display: flex;
    align-items: center;
}
.column1{
    
}
.column2{
    
}
.column3{
    display: flex;
    justify-content: flex-end;
}
.column3 > div{
    
}
.counter{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.counter > div{
    flex: 1;
    display: flex;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;

}
.items{
    display: flex;
    height: 12vh;
}
.more { 
    display:flex;
    width: 100%;
}
.option{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:30%;
    color: #fff;
    font-size: 2.5vw;
    text-align: center;
}
.detail{
    flex:3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:30%;
    color: #686868;
    font-size: 1.2vw;
    text-align: center;
}
.sales{
    
}
.summary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.stat{
    display: flex;
    height: 30vh;
    width:100%
}
.stat > div {
    width:100%;
    padding:7px;
    height: 40vh;
}
.productrow{
    display: flex;
    padding: 10px;
}
.iconimg{
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
    
}
.icon{
    width:60px;
    height: 60px;
    background-color: #118DE6;
    opacity: 0.5;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items:center;
    
}
.image{
    display: flex;
    align-items: flex-end;
    margin-bottom: 50vh;
    justify-content: center;
}
table {
    width: 100%;
    border-spacing: 0px;

  }
  th{
      font-weight: 500;
  }
  tr{
      color: #9F9F9F;
      padding: 10px;
      font-size: 13px;
      font-weight: 500;
  }
  td, th {
    padding: 8px;
    border-bottom:none;
    margin: 0;
    text-align: center;
  }
  